In [1]:
import pandas as pd

In [3]:
math_scores = pd.Series([78, 65, 89, 86, 55, 91],index=['Mary', 'John', 'Lisa', 'Adam', 'Anne', 'Bart'])

math_scores

In [5]:
data = {
    "Matematyka":[9,5,6,7,8,12],
    "Fizyka":[10,11,12,13,14,15],
    "Chemia":[16,17,18,19,20,21],
    "Biologia":[22,23,24,25,26,27],
    "Geografia":[28,29,30,31,32,33],
    "Historia":[34,35,36,37,38,39]
}

students = ['Mary', 'John', 'Lisa', 'Adam', 'Anne', 'Bart']
grades_df = pd.DataFrame(data, index=students)
grades_df

,Matematyka,Fizyka,Chemia,Biologia,Geografia,Historia
Mary,9,10,16,22,28,34
John,5,11,17,23,29,35
Lisa,6,12,18,24,30,36
Adam,7,13,19,25,31,37
Anne,8,14,20,26,32,38
Bart,12,15,21,27,33,39